<div class="bg-dark-blue">
  <h2 class="text-center p-4 text-light">Register</h2>
</div>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <div class="card w-70 m-4 text-dark-light
">
    <div class="form-group m-2">
      <%= f.text_field :name,
                required: true,
                autofocus: true,
                class:"form-control",
                placeholder: "Name",
                 autocomplete: "name"%>
    </div>
    <div class="form-group m-2">
      <%= f.email_field :email,
                required: true,
                class:"form-control",
                autofocus: true,
                placeholder: "Email",
                autocomplete: "email"%>
    </div>
    <div class="form-group m-2">
      <%= f.password_field :password,
                required: true,
                class:"form-control",
                placeholder: "Password",
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                autocomplete: "new-password"%>
    </div>
    <div class="form-group m-2">
      <%= f.password_field :password_confirmation,
                class:"form-control",
                placeholder: "Password confirmation",
                required: true,
                input_html: { autocomplete: "new-password" } %>
    </div>
  </div>
  <div class="form-actions has-text-centered
">
    <%= f.button :submit, "Sign up", data:{turbo:false}, class:"btn btn-primary
"%>
  </div>
<% end %>
<div class="has-text-centered m-2
">
<span>Have account already?</span><%= render "devise/shared/links" %>
</div>
