<div class="d-flex bg-dark-blue justify-content-between p-3">
  <div class=" ms-4">
    <%= link_to categories_path, class: 'btn-back mt-2' do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
  <h1 class="d-flex text-light mr-6 flex-grow-1 justify-content-center">Transaction</h1>
</div>
</div>
<p style="color: green"><%= notice %></p>
<% @entities.each do |entity| %>
  <div class=" main category d-flex border mb-1 p-3 w-70">
    <div class="logo me-3 col-2 image-container">
      <img src="https://cdn.onlinewebfonts.com/svg/img_218090.png" alt="image">
    </div>
    <div class="col-5">
      <strong><%= entity.name %></strong>
      <p class="mt-4">
        <%= entity.created_at.strftime("%d %h %Y")%> at <%= entity.created_at.strftime("%l.%M%P")%>
      </p>
    </div>
    <div class="col-5 d-flex justify-content-end align-items-center pe-3">
      <strong><span>$<span><%= entity.amount %><strong>
            </div>
          </div>
        </div>
      <% end %>
      <footer>
        <div class="footer text-light d-flex justify-content-center p-3 bg-green fixed-bottom">
          <%= link_to "Add New Transaction", new_category_entity_path(@category.id), class: "btn border border-light pr-6 pl-6 text-light" %>
        </div>
      </footer>
