<nav class="bg-dark-blue navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <h2 class="navbar-brand text-center mx-auto fs-2 fw-bolder
">Categories</h2>
    <%= button_to destroy_user_session_path, class:"btn", method: :delete do %>
      <i class="fa fa-power-off text-danger"></i>
    <% end %>
  </div>
</div>
</nav>
<p style="color: green"><%= notice %></p>
<% @categories.each do |category| %>
  <div class=" main category d-flex border mb-1 p-3 w-70">
    <div class="logo me-3 col-2 image-container">
      <% if category.present? && category.image.attached? %>
        <%= image_tag(category.image, class: "image-height") %>
      <% end %>
    </div>
    <div class="col-5">
      <strong><%= link_to category.name, category_entities_path(category), class: 'text-decoration-none'%></strong>
      <p class="mt-4"> <%= category.created_at.strftime('%d %b %Y') %></p>
    </div>
    <div class="col-5 d-flex justify-content-end align-items-center pe-3">
<span>$<span><%= category.total_amount %>
        </div>

  </div>
<% end %>
<footer>
  <div class="footer text-light d-flex justify-content-center p-3 bg-green mt-5 fixed-bottom">
    <%= link_to "Add New Category", new_category_path, class: "btn border border-light pr-6 pl-6 text-light
" %>
  </div>
  <footer>
