<%= render "shared/navbar" %>
<p style="color: green"><%= notice %></p>
<h1 class="title is-3 has-text-centered mt-5">Categories</h1>
<% @categories.each do |category| %>
  <div class=" main category d-flex border mb-1 p-3 mx-auto w-70">
    <div class="logo me-3 col-2 image-container">
      <% if category.present? && category.image.attached? %>
        <%= image_tag(category.image, class: "image-height") %>
      <% end %>
    </div>
    <div class="col-5">
      <strong><%= link_to category.name, category_entities_path(category), class: 'text-decoration-none'%></strong>
    </div>
    <%# <p class="m-4">
          <%= link_to "Show this category", category, class: "button is-danger is-rounded is-small" %>
    <%# </p> %>
  </div>
<% end %>
</div>
<footer>
  <div class="text-light footer d-flex justify-content-center p-3 bg-success mt-5">
    <%= link_to "Add New Category", new_category_path, class: "btn border border-light pr-6 pl-6 text-light
" %>
  </div>
  <footer>
